@import "_mixin";
@import "_variables";
@import "_map";


footer {
    /* defino gradiente de footer*/
    background: linear-gradient($color1Footer, $color2Footer);

    /* utilizamos variable para definir tamaño h3*/
    h3 {
        font-size: $fontsizeh3footer;
    }

    .datosFooter {
        display: grid;
        /*se utiliza map pra obtener la cantidad de columnas del grid*/
        grid-template-columns: map-get($mapdatosFooter, columnsdatosFooter);
        grid-template-rows: map-get($mapdatosfooterrows, rowsdatosfooter);
        grid-template-areas:
            "seguidoresArea contactoArea datosContactoArea";

        @media screen and (max-width: 768px) {

            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                "seguidoresArea contactoArea"
                "datosContactoArea"
        }

        @media screen and (max-width:480px) {

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas:
                "seguidoresArea"
                "contactoArea"
                "datosContactoArea"
        }

        .seguidores {

            /*se utiliza mixin para darle margin, padding y grid-area al footer*/
            @include footerseguidores(10px, 10px, seguidoresArea);

            img {
                width: 30px;
                height: 30px;
                margin-right: 10%;
                margin-top: 10px;
            }

        }

        .atencionclie {
            margin: 10px;
            padding: 10px;
            grid-area: contactoArea;

            img {
                width: 40px;
                height: 40px;
                margin-top: 10px;
            }
        }

        .datoscontact {
            margin-top: 10px;
            padding: 10px;
            grid-area: datosContactoArea;
        }



    }



}