@import "_mixin";
@import "_variables";
@import "_map";


footer {
    background: linear-gradient( #96caf5, #1d2570);

    h3 {
        font-size: 0.5cm;
    }
    
    .datosFooter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "seguidoresArea contactoArea datosContactoArea";

        @media screen and (max-width: 768px) {

            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                "seguidoresArea contactoArea"
                "datosContactoArea"
        }

        @media screen and (max-width:480px) {

                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-template-areas:
                    "seguidoresArea"
                    "contactoArea"
                    "datosContactoArea"
        }

        .seguidores {
            margin: 10px;
            padding: 10px;
            grid-area: seguidoresArea;

            img {
                width: 30px;
                height: 30px;
                margin-right: 10%;
                margin-top: 10px;
            }

        }

        .atencionclie {
            margin: 10px;
            padding: 10px;
            grid-area: contactoArea;

            img {
                width: 40px;
                height: 40px;
                margin-top: 10px;
            }
        }

        .datoscontact {
            margin-top: 10px;
            padding: 10px;
            grid-area: datosContactoArea;
        }



    }



}