.maininsumos {
    min-height: 60vh;
    background-image: url(../img/5a2f1e0c50c4f38a6f5029eb76d8c71a.jpg);

    .nuevosingresos {

        .video iframe {
            width: 70%;
            height: 70%;
            margin-left: 10px;
            margin-bottom: 70px;
        }
    }
}
