* {
    padding: 0%;
    margin: 0%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;

}

.historia {
    background-color: rgb(247, 225, 197);
    height: 3cm;
    word-spacing: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.mainjoyas {
    min-height: 70vh;

}

.maininsumos {
    min-height: 60vh;
}
.imginsumos img {
    margin: 10px;
    padding: 15px;
    width: 400px;
    height: 400px;
}

.maincontacto {
    margin-bottom: 3rem;
    min-height: 30vh;
}

.mainosotros {
    min-height: 50vh;
}

ul li {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    margin: 0.7cm;
}


h1 {
    color: black;
    flex-direction: row;
    text-align: center;
    font-size: 1.5cm;
}
h3 {
    font-size: 0.5cm;
}
.historia .navbar-brand img {
    width: 200px;
    height: 110px;
}
.row {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;

}

.categ a {
    color: rgb(0, 1, 7);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}


.categ img {
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-top: 40px;
}

.categ img:hover {
    transform: scale(1.03);
    transition-property: all;
    transition-duration: 1s;
    align-items: center;
}

.ingresoanillo {
    text-decoration: none;
    justify-content: center;
    color: black;
}

h1 {
    animation-duration: 4s;
    animation-name: titulo;
    margin: 20px;
}


h2 {
    animation-duration: 4s;
    animation-name: titulo;
    margin: 20px;
}

.accesoAnillos{
    display: flex;
    justify-content: center;
    font-size: 0.7cm;
}

.accesoCadenas{
    display: flex;
    justify-content: center;
    font-size: 0.7cm;

}

.accesoAros{
    display: flex;
    justify-content: center;
    font-size: 0.7cm;
}

.accesoDijes{
    display: flex;
    justify-content: center;
    font-size: 0.7cm;
}


@keyframes titulo{

    from {
        margin-left: 100%;
        width: 100%;
      }
      to {
        margin-left: 0%;
        width: 100%;
      }
}



h2 {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    font-size: 1.5cm;
}

.video {
    margin: 20px 50px 50px 110px;
}

.ningresos {
    display: grid;

}

.ningresos img {
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
}


.atcl img {
    width: 50px;
    height: 50px;
    margin: 0.3cm;
}

.datcont img {
    width: 50px;
    height: 50px;
    margin: 0.3cm;
}

.historia img {
    width: 30px;
    height: 30px;
}

.productos {
    height: 3cm;
    word-spacing: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productos img {
    width: 30px;
    height: 30px;
}


.loqhay {
    height: 3cm;
    word-spacing: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loqhay img {
    width: 30px;
    height: 30px;
}

.quiensta img {
    width: 30px;
    height: 30px;
}


.quiensta {
    height: 3cm;
    word-spacing: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.histo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.categotriasmain {
    grid-area: categoriasMainArea;
}



.anilloimg {
    grid-area: anilloImgArea;
}

.nav-link{
    font-size: 0.6cm;
}
.arosimg {
    grid-area: arosImgArea;
}

.cadenaimg {
    grid-area: cadenaImgArea;
}

.dijesimg {
    grid-area: dijesImgArea;

}


.img1 {
    grid-area: img1Area;
}

.img2 {
    grid-area: img2Area;
}

.img3 {
    grid-area: img3Area;
}

.img4 {
    grid-area: img4Area;
}

.img5 {
    grid-area: img5Area;
}

.img6 {
    grid-area: img6Area;
}

.img7 {
    grid-area: img7Area;
}

.img8 {
    grid-area: img8Area;
}

.video iframe {
    width: 300px;
    height: 300px;
    margin-left: 10px;
}

.datosFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "seguidoresArea contactoArea datosContactoArea googleMaps"
}


.seguidores {
    margin: 10px;
    padding: 10px;
    grid-area: seguidoresArea;
}

.seguidores img {
    width: 30px;
    height: 30px;
    margin-right: 10%;
    margin-top: 10px;

}


.categ .row .imgmain1 img{
    width: 95%;
    height: 95%;
    padding: 3%;
    border-radius: 10%;
 }

 .nuevosingresos .row .imgmain1 img{
    width: 95%;
    height: 95%;
    padding: 3%;
    border-radius: 10%;
 }

.atencionclie {
    margin: 10px;
    padding: 10px;
    grid-area: contactoArea;
}


footer {
    background-color: rgb(247, 225, 197);
}

.datoscontact {
    margin: 10px;
    padding: 10px;
    grid-area: datosContactoArea;
}

.atencionclie img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.gpsFooter {
    margin: 10px;
    padding: 10px;
    grid-area: googleMaps;
}
.gpsFooter iframe {
    width: 400px;
    height: 120px;
}

@media screen and (max-width: 768px) {

 
    .datosFooter {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "seguidoresArea contactoArea"
            "datosContactoArea"
    }
}

@media screen and (max-width:480) {

  
    .datosFooter {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "seguidoresArea"
            "contactoArea"
            "datosContactoArea"
    }

}