@charset "UTF-8";
header {
  padding: 0%;
  margin: 0%;
  background: linear-gradient(#96caf5, #1d2570);
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px; }
  header body {
    background-size: cover;
    background-repeat: no-repeat; }
    header body .historia nav img {
      width: 200px;
      height: 110px; }
    header body .historia nav ul li {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      header body .historia nav ul li a {
        color: black;
        margin: 0.7cm; }

/*este se utiliza en el footer con la class datos footer*/
footer {
  /* defino gradiente de footer*/
  background: linear-gradient(#96caf5, #1d2570);
  /* utilizamos variable para definir tamaño h3*/ }
  footer a {
    text-decoration: none; }
  footer h3 {
    font-size: 0.5cm; }
  footer .datosFooter {
    display: grid;
    /*se utiliza map pra obtener la cantidad de columnas del grid*/
    grid-template-columns: repeat(1fr, 1fr, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "seguidoresArea contactoArea datosContactoArea"; }
    @media screen and (max-width: 768px) {
      footer .datosFooter {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "seguidoresArea contactoArea"
        "datosContactoArea"; } }
    @media screen and (max-width: 480px) {
      footer .datosFooter {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "seguidoresArea"
        "contactoArea"
        "datosContactoArea"; } }
    footer .datosFooter .seguidores {
      /*se utiliza mixin para darle margin, padding y grid-area al footer*/
      margin: 10px;
      padding: 10px;
      grid-area: seguidoresArea; }
      footer .datosFooter .seguidores img {
        width: 30px;
        height: 30px;
        margin-right: 10%;
        margin-top: 10px; }
    footer .datosFooter .atencionclie {
      margin: 10px;
      padding: 10px;
      grid-area: contactoArea; }
      footer .datosFooter .atencionclie img {
        width: 40px;
        height: 40px;
        margin-top: 10px; }
    footer .datosFooter .datoscontact {
      margin-top: 10px;
      padding: 10px;
      grid-area: datosContactoArea; }

.historia {
  background-color: #f7e1c5; }
  .historia img {
    width: 150px;
    height: 100px; }

h1 {
  color: black;
  flex-direction: row;
  text-align: center;
  font-size: 1.2cm;
  animation-duration: 4s;
  animation-name: titulo; }

.categotriasmain {
  grid-area: categoriasMainArea; }

@keyframes titulo {
  from {
    margin-left: 100%;
    width: 100%; }
  to {
    margin-left: 5%;
    width: 100%; } }

.categ .row {
  display: flex;
  width: 100%; }
  .categ .row .imgmain1 img {
    width: 85%;
    height: 85%;
    padding: 3%;
    border-radius: 10%; }
  .categ .row img {
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-top: 40px; }
    .categ .row img :hover {
      transform: scale(1.03);
      transition-property: all;
      transition-duration: 1s;
      align-items: center; }
  .categ .row a {
    color: #000107;
    text-decoration: none;
    justify-content: center;
    align-items: center; }
  .categ .row .accesoAnillos {
    display: flex;
    justify-content: center;
    font-size: 0.7cm; }
  .categ .row .accesoCadenas {
    display: flex;
    justify-content: center;
    font-size: 0.7cm; }
  .categ .row .accesoAros {
    display: flex;
    justify-content: center;
    font-size: 0.7cm; }
  .categ .row .accesoDijes {
    display: flex;
    justify-content: center;
    font-size: 0.7cm; }

.nuevosingresos h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 1.2cm;
  animation-duration: 4s;
  animation-name: titulo; }

.nuevosingresos .row {
  width: 100%; }
  .nuevosingresos .row .imgmain1 img {
    width: 100%;
    height: 100%;
    padding: 4%;
    border-radius: 10%; }

main {
  margin: 0%;
  padding: 0%;
  min-height: 70vh; }

.maininsumos {
  min-height: 60vh;
  background-image: url(../img/5a2f1e0c50c4f38a6f5029eb76d8c71a.jpg); }
  .maininsumos .nuevosingresos .video iframe {
    margin-left: 10px;
    margin-bottom: 70px; }

.mainjoyas {
  min-height: 70vh;
  background-image: url(../img/5a2f1e0c50c4f38a6f5029eb76d8c71a.jpg); }

.mainosotros {
  display: flex;
  min-height: 50vh; }
  .mainosotros .histo {
    align-items: center;
    justify-content: center; }
    .mainosotros .histo h3 {
      text-align: center;
      font-size: 40px;
      font-weight: 900px;
      color: #0f0d8b; }
      @media screen and (max-width: 468px) {
        .mainosotros .histo h3 {
          font-size: 25px;
          color: #050202; } }
    .mainosotros .histo p {
      text-align: center;
      font-size: 30px;
      font-weight: 900px;
      font-family: 'Times New Roman', Times, serif;
      margin-left: 1%;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-right: 1%;
      color: black; }
      @media screen and (max-width: 468px) {
        .mainosotros .histo p {
          font-size: 17px;
          color: #02030e; } }

/*este se utiliza en el footer con la class datos footer*/
