



/* main*/
.mainjoyas {
    min-height: 70vh;

}

.maininsumos {
    min-height: 60vh;
}
.imginsumos img {
    margin: 10px;
    padding: 15px;
    width: 400px;
    height: 400px;
}

.maincontacto {
    margin-bottom: 3rem;
    min-height: 30vh;
}

.mainosotros {
    min-height: 50vh;
}


/*main*/

h3 {
    font-size: 0.5cm;
}

.ingresoanillo {
    text-decoration: none;
    justify-content: center;
    color: black;
}






.video {
    margin: 20px 50px 50px 110px;
}

.ningresos {
    display: grid;

}

.ningresos img {
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
}


.atcl img {
    width: 50px;
    height: 50px;
    margin: 0.3cm;
}

.datcont img {
    width: 50px;
    height: 50px;
    margin: 0.3cm;
}

.productos {
    height: 3cm;
    word-spacing: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productos img {
    width: 30px;
    height: 30px;
}


.loqhay {
    height: 3cm;
    word-spacing: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loqhay img {
    width: 30px;
    height: 30px;
}

.quiensta img {
    width: 30px;
    height: 30px;
}


.quiensta {
    height: 3cm;
    word-spacing: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.histo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}




.anilloimg {
    grid-area: anilloImgArea;
}

.nav-link{
    font-size: 0.6cm;
}
.arosimg {
    grid-area: arosImgArea;
}

.cadenaimg {
    grid-area: cadenaImgArea;
}

.dijesimg {
    grid-area: dijesImgArea;

}


.img1 {
    grid-area: img1Area;
}

.img2 {
    grid-area: img2Area;
}

.img3 {
    grid-area: img3Area;
}

.img4 {
    grid-area: img4Area;
}

.img5 {
    grid-area: img5Area;
}

.img6 {
    grid-area: img6Area;
}

.img7 {
    grid-area: img7Area;
}

.img8 {
    grid-area: img8Area;
}

.video iframe {
    width: 70%;
    height: 70%;
    margin-left: 10px;
}